<div class="body-log-in">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container">
    

    <div class="omb_login">

      <h2 class="omb_authTitle"> <b>Log in | Awesome Car R.S.C. </b> <img style="margin:5px" src="https://www.flaticon.com/premium-icon/icons/svg/3385/3385500.svg" width="50" height="50" alt="Instagram"> </h2>
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
          <div class="col-xs-4 col-sm-2">
            <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
              <i class="fa fa-facebook visible-xs"></i>
              <span class="hidden-xs">Facebook</span>
            </a>
          </div>
          <div class="col-xs-4 col-sm-2">
            <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
              <i class="fa fa-twitter visible-xs"></i>
              <span class="hidden-xs">Twitter</span>
            </a>
          </div>  
          <div class="col-xs-4 col-sm-2">
            <a href="#" class="btn btn-lg btn-block omb_btn-google">
              <i class="fa fa-google-plus visible-xs"></i>
              <span class="hidden-xs">Google+</span>
            </a>
          </div>  
    </div>

    <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
      </div>
    </div>
 <%= form_for(:session, url: login_path) do |f| %>
    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">     
      <img style="margin:5px" src="https://www.flaticon.com/svg/static/icons/svg/149/149995.svg" width="30" height="30" alt="Instagram">
      <%= f.email_field :email, class: 'form-control' %>
      <img style="margin:5px" src="https://www.flaticon.com/svg/static/icons/svg/2360/2360082.svg" width="30" height="30" alt="Instagram">
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
        </form>
      </div>
      </div>
  </div>
</div>

