<li id="comments-<%= comment.id %>">
	<span id="gravatar"><%= gravatar_for comment.user, size: 20 %></span>
	<span class="user"><b><%= comment.user.name %></b></span>
	<span id="content-<%= comment.id %>"><%= comment.content %></span><br>
	<span class="timestamp">
		Posted <%= time_ago_in_words(comment.created_at) %> ago.
	</span>	
	<span id="subcomment-<%= comment.id%>">
		<%= link_to "Reply", new_comment_subcomment_path(comment), remote: true %>
	</span>
	<span>
		<% if current_user && current_user.current_user?(comment.user) %>
			<%= link_to "delete",comment_path(comment), method: :delete,
														data: {confirm: "You sure?"}, remote: true%>
			<%= link_to "edit", edit_comment_path(comment), remote: true %>
		<% end %>
	</span><br>
	<span>
		<%= render comment.subcomments %>
	</span>
</li>

