 <tr>	
 	<td class = "tableuser">
 		<p class = "useravatar">
			<%= link_to gravatar_for(car.user, size: 50), car.user %>
			<span class= "user"><%= link_to car.user.name, car.user %></span>
		</p>
	</td>
	<td class = "tablecheck">
		<p class= "mtop">
			<%= car.title %>
		</p>	
	</td>
	<td >
		cared <%= time_ago_in_words(car.created_at) %> ago.
	</td>
		
	<td class = "tablesee" >	
		<%= link_to "see",admin_car_path(car)%>
	</td>
	<td class = "tablesee">
		<% if logged_in? %>
			<% if current_user.current_user?(car.user) || current_user.admin? %>
					<%= link_to "delete", admin_car_path(car), method: :delete,data: { confirm: "You sure?" } %>
			<% end %> 
		<% end %>
	</td>

 </tr>	