<div class="row">
	<aside class="col-md-4 vta">

		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		<% if @user.registrations.any? %>	
			<%= render @registrations %>
		<% end %>	
		</section>

		<section class="stats">
	
		</section>
	</aside>
	<div class="col-md-8">
		<% if @user.posts.any? %>
			<ol class="micrposts">
				<%= render @posts %>
			</ol>
			<%= will_paginate @posts %>
		<% end %>
	</div>

</div>
