
<div class="row">
	<aside class="col-md-4">
		<section>
		
				
		</section>
		<div>
			
		</div>
	</aside>
</div>
<h1>
	Đơn Đăng Ký Lái Thử: 
<br />	
  <br />Địa Điểm: <%= registration.car_registrated.registrated.place %>
 <br />Thời Gian: <%= registration.car_registrated.registrated.time_registrated%>

</h1>
<h4>
	Tên người đăng ký: <%= registration.fullname %>
</h4>
<h4>
	Hạng bằng lái: <%= registration.drive_lisence %>
</h4>
<h4>
	Điện thoại: <%= registration.phone %>
</h4>

<h4>
	Xe Sử dụng: <%= registration.car_registrated.car.name %>
</h4>
