<%= form_for(@registration) do |f| %>
	<div class="field">
		<p>Họ và Tên
			<%= f.text_field :fullname, placeholder: "họ và tên" %>
		</p>
		<p>
			Điện Thoại
			<%= f.text_field :phone, placeholder: "phone..." %>
		</p>
		<p>
			<%= f.label :drive_lisence, "GPLX" %>
			<%= f.select :drive_lisence, Registration.drive_lisences.keys %>
		</p>		
		Loại xe Muốn đăng ký
		<%= f.select :car_id, options_for_cars, :prompt => 'Select One' %>
	</div>
	<%= f.hidden_field :registrated_id, value: @registrated.id %>
		<%= f.submit "đăng ký", class: " btn-primary" %>
<% end %>