<% if post.accepted?|| current_user.admin? %>
 <tr id = "post_ajax">	

	<td class = "tableuser">
 		<p class = "useravatar">
			<%= link_to gravatar_for(post.user, size: 50), post.user %>
			<span class= "user"><%= link_to post.user.name, post.user %></span>
		</p>
	</td>
	<td class = "td">
		<p class= "mtop">
			<%= link_to truncate(post.title, length: 35), admin_post_path(post) %>
		</p>	
	</td>
	<td >
		Posted <%= time_ago_in_words(post.created_at) %> ago.
	</td>
		

	<td class = "tablesee">
		<% if logged_in? %>
			<% if current_user.current_user?(post.user) || current_user.admin? %>
					<%= link_to "delete", admin_post_path(post), method: :delete,data: { confirm: "You sure?", remote: true } %>
			<% end %> 
		<% end %>
	</td>
	<td class = "pdpost1"  >
		<h3><%= post.status %></h3>
	</td>	
 </tr>		

<% end %>
