
<% provide(:title, @post.title) %>
<%= render 'layouts/admin_sidebar' %>
<div class = "container" >

<div class="row">
	<aside class="col-md-8">
		<section>
			
			<h2>
				<%= @post.title %>
			</h2>
	
			<h4>
				<%= @post.content.html_safe %>
			</h4>
			
		</section>

	</aside>
	|
	<% if current_user.admin? %>	
		<div class="field">
			<%= form_for ([:admin, @post]) do |f| %>	
			  <%= f.label :status, "Kiểm Duyệt Bài Viết" %><br>
			  <%= f.select :status, Post.statuses.keys %>
			<%= f.submit "allows" %> 
			<% end %>  
		</div>
	<% end %>	
	<a href="#" class="cd-top">Back To Top</a>
</div>	
</div>

