<% provide(:title, @post.title) %>
<span class="user"><%= link_to @post.user.name, @post.user %></span>
<div class="row">
	<aside class="col-md-4">
		<section>
		
			<h1>
				<%= image_tag @post.display_image if @post.image.attached? %>
			</h1>
			<h4>
				<%= @post.content.html_safe %>
			</h4>
			
		</section>
		<div>
			
		</div>
	</aside>
	<% if current_user.admin? %>	
		<div class="field">
			<%= form_for ([:admin, @post]) do |f| %>	
			  <%= f.label :status, "Kiểm Duyệt Bài Viết" %><br>
			  <%= f.select :status, Post.statuses.keys %>
			<%= f.submit "allows" %> 
			<% end %>  
		</div>
		<h2><%= link_to "edit",edit_admin_post_path%></h2>	
	<% end %>	

