<%= form_for([:admin,@registrated]) do |f| %>

	<%= render 'shared/error_messages', object: f.object %>
	<%= f.label :title %>
	<%= f.text_field :title, class: 'form-control' %>
	<%= f.label :place %>
	<%= f.text_field :place, class: 'form-control' %>
	<%= f.label :time_registrated %>
	<%= f.date_field :time_registrated, class: 'form-control' %>
	Các Loại xe Cho Phép:

	<div>
		<%= f.select :car_ids, options_for_select(Car.all.pluck(:name, :id), selected: f.object.car_ids), {include_blank: true} %>
	</div>
	<br /><%= f.submit yield(:button_text), class: "btn btn-primary" %>	
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$('.registrated_car_ids').select2();
	});
</script>