<div class = "container" >
	<%= form_for (@post) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>	
		<div class="sub_address">
		  <%= f.fields_for(:hastags) do |builder| %>
				<%= builder.label :content, "hastag" %>
				<%= builder.text_field :content, class: "form-control" %>
				<%= builder.hidden_field :_destroy, class: "input-group mb-3" %>
		  <% end %>
		</div>
		<p >
			<br/>
			<%= f.text_field :title,placeholder: "Title" ,class: "form-control" %>
		</p>
		<p>
			<%= f.cktext_area :content, placeholder: "Compose new micropost..." %>
		</p>	
			<%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
		<p>
			<%= f.select :brand, Post.brands.keys, prom: "select1" %>
				
		</p>

		<p >
			<%= f.submit "Post", class: "btn btn-primary btn-lg btn-block" %>	
		</p>

	<% end %>	
</div>


