<div class="">
  <% if logged_in? %>
    <% if current_user.current_user?(post.user) || current_user.admin? || post.accepted? %>
      <span class="content"> </br>
         <% if post.accepted? %>
             <img style="margin:5px" src="https://www.flaticon.com/premium-icon/icons/svg/2665/2665128.svg" width="30" height="30" alt="Instagram">
             <%else%>
              <img style="margin:5px" src="https://www.flaticon.com/svg/static/icons/svg/260/260421.svg" width="20" height="20" alt="Instagram">
         <% end %>  
        <div style = "width:100%">
          <div style = "float: left; width: 40%;"> 
            <%=link_to (image_tag post.display_image if post.image.attached?), post_path(post) %>
          </div>  
          <div style = "float:left; width :57%">
            <p style = "font-size: 30px;"><b><%= link_to post.title, post %></b></p>

            <%=truncate(post.content, :length => 100, :omission => "" , :escape => false) %>
           </div>  
        </div>
      </span>
        <span class="timestamp"> </br>

        Posted <%= time_ago_in_words(post.created_at) %> ago.
        <% if logged_in? %> </br>
          <% if current_user.current_user?(post.user) || current_user.admin? %>
            <%= link_to "delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" } %>
            <%= link_to "| edit" , edit_post_path(post) %>
           <% end %> 
        <% end %>
      </span>
    <% end %>
  <% else %>
    <% if post.accepted? %>
        <span class="content"> </br>  
           <%= link_to (image_tag post.display_image if post.image.attached?),post %>
            <h2><b><%= link_to post.title, post %></b></h2>
            <%= truncate(post.content, :length => 400, :omission => "" , :escape => false) %>
           
          </span>
      <% end %>  
  <% end %>    
</div>
<hr class="omb_hrOr">

