<div class = "container"> 
<% provide(:title, @post.content) %>
		<section>
			<h1>
			<center> <%= @post.title %> </center>	
			</h1>
			<h1>
				<%= image_tag @post.display_image if @post.image.attached? %>
			</h1>
			<h4>
				<%= @post.content.html_safe %>
			</h4>			
		</section>
</div>
<h3>comment</h3>
<section class="comment_form_form">
	<%= render 'shared/comment_form' %>
</section>  
<% if @post.comments.any? %>
	(<%= @post.comments.count %>)
	<ol id="comments_ajax">
		<%= render @comments %>
	</ol>
	<%= will_paginate @comments %>
<% end %>	

