<% provide(:title, @post.title) %>
<div class = "container rates"> 

	
	<div class="row">

		<aside class="col-md-8">
		
			<section>
				<p style = "font-size: 40px;">
					<b><%= @post.title %></b> 
				</h2>
				<br />
			
				<p>
				<h4  style = " font-weight: bold;">
					 <%= average_rating %> <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Star_icon_stylized.svg/1077px-Star_icon_stylized.svg.png" style="width: 20px;  "> | <%= @post.ratings.count %> votes. <br />
					 
				</h4>

					<%= Time.now %><br />

				<h4 style = "text-align: center">	
					<%= @post.content.html_safe %>
				</h4>	
				</p>	
							
			</section>
			Người viết: <span class="user"><%= link_to @post.user.name, @post.user %></span>
		</aside>	
	</div>
	<% if logged_in? %> </br>
          <% if current_user.current_user?(@post.user) || current_user.admin? %>
            <%= link_to "delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
            <%= link_to "| edit" , edit_post_path(@post) %>
           <% end %> 
          <span id = "report-ajax">
          	<%= link_to "report", new_post_report_path(@post), remote: true if @report.nil? %> | 
          </span>
          <span id = "rating-ajax" >

          	<% if @rating.nil? %>
          		<%= link_to "Rating", new_post_rating_path(@post), remote: true %>
          	<% else %>
          		<%= link_to "do it again Rating", edit_post_rating_path(@rating.post, @rating), remote: true %>	
          	<% end %>	
          </span>	
      <% end %>
	<% if logged_in? %>
		<span>
			
			<%= render 'follow_form' %>
			<span id = "post-count">
				
					<% if @follow.present? %>
						You and <%=  @post.follows.count - 1 %> orther people liked post
					<% else %>
						<%=  @post.follows.count  %>  people liked post	
					<% end %> 
				
			</span>
		</span>
		<h3>comment</h3>
		<section class="comment_form_form">
			<%= render 'shared/comment_form' %>
		</section>  
	<% end %>
	<% if @post.comments.any? %>
			số lượng comment: (<%= @post.comments.count %>)
		<ol id="comments_ajax">
			<%= render @comments %>
		</ol>
		<%= will_paginate @comments %>
	<% end %>			
</div>

	


