
     <nav class="site-header sticky-top py-1 nav-height"> 
      <div class="container d-flex flex-column flex-md-row justify-content-between nav-margin">
      <a class="py-2" href= root_path aria-label="Product">
      <%= link_to image_tag("tesla-logo.png", alt: "Tesla logo" , width: "50px") ,root_path %>

      <li class="py-2 d-none d-md-inline-block"><%= link_to "Home", root_path %></li>
      <a class="py-2 d-none d-md-inline-block" href="#">News</a>
      
      <!-- <a class="py-2 d-none d-md-inline-block" href="#">Car Reviews</a> -->
       <!-- li class="py-2 d-none d-md-inline-block" >Car Reviews</a> -->
        
            <%= link_to "Car Reviews", posts_path, class: "py-2 d-none d-md-inline-block" %>
      <% if logged_in? %>
        <li class="py-2 d-none d-md-inline-block" href="#"><%= link_to "Test drive", registrateds_path(@registrated)   %></li>
      <% end %> 
      <a class="py-2 d-none d-md-inline-block" href="#"></a>
      <!-- Search form -->
      <div style = "margin-top: -11px; ">
        <%= form_tag(search_page_path, :method => "get",   
            class: 'navbar-form navbar-left') do %>  
            <div class="input-group">  
              <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
              <div class="input-group-btn" style = "margin-top: -2px;">  
                <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search search-button',:name => nil%>  
              </div>  
            </div>  
        <% end %>
    </div>
<!--  -->
    	<% if logged_in? %>
        <%if current_user.admin? %>
       
        <% else %>
        <% end %>
        <li class="py-2 d-none d-md-inline-block">
        <a href="#" class="" data-toggle="dropdown">
          Account <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <% if current_user.admin? %>
              <li><%= link_to "Adminstrator", admin_home_path %></li>
            <% end %>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: :delete %>
            </li>
        </ul>
        </li>
      <% else %>
          <li class="py-2 d-none d-md-inline-block"><%= link_to "Log in", login_path %></li>
          <li class="py-2 d-none d-md-inline-block"><%= link_to "| Signup", signup_path %></li>
          
      <% end %>

  </div>
</nav>
